<br>
<table style="margin-left:50px;">
<tr><td align="left" ><%= @task.tname %></td></tr>
<tr><td align="left"><%= @task.priority %></td></tr>
<tr><td align="left"><%= @task.expires_at %></td></tr>
<tr><td align="left"><%= @task.status %></td></tr>
<tr><td align="left"><%= link_to "Edit", "/pitems/"+params[:pitem_id]+"/tasks/"+@task.id.to_s+"/edit" %></td></tr>
</table> 
